* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  list-style-type: none;
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-weight: 300;
}

.light {
  background-color: #f4f4f5;
  color: #02050e;
}
.light .theme-toggle {
  background-color: #e6e8ef;
}
.light .theme-toggle__icon {
  fill: #02050e;
}
.light .hello__link::after {
  background-color: #02050e;
}

.grid {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f5;
  opacity: 0.98;
}

.sectionTitle {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #b3b6c0;
  letter-spacing: 0.2rem;
}

.navigation {
  display: flex;
  list-style-type: none;
  gap: 32px;
}
.navigation__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.navigation__item:not(.navigation__item--active) {
  cursor: pointer;
}
.navigation__item:hover:not(.navigation__item--active) {
  color: #E4572E;
  transition: color 0.2s linear;
}
.navigation__item--active {
  color: #b3b6c0;
}
.navigation__item--outlined {
  padding: 8px 12px;
  border: 1px solid #d8dbe4;
  border-radius: 4px;
}
.navigation__item--outlined:hover {
  border-color: #E4572E;
  transition: all 0.2s linear;
}
.navigation__icon {
  width: 18px;
  height: 18px;
}

.theme-toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 6px;
  z-index: 1;
}
.theme-toggle__icon {
  width: 20px;
  fill: #ffffff;
}
.theme-toggle:hover .theme-toggle__icon {
  fill: #E4572E;
  transition: all 0.2s linear;
}

main {
  padding-top: 48px;
}

.hello {
  font-size: 32px;
}
.hello__name {
  font-size: inherit;
}
.hello__link {
  position: relative;
  display: block;
  width: fit-content;
  margin-top: 16px;
  color: inherit;
  text-decoration: none;
  font-weight: 300;
}
.hello__link::after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.2s linear;
}
.hello__link:hover::after {
  width: calc(100% - 48px);
  left: 48px;
  background-color: #E4572E;
}
.hello__link:hover .hello__icon svg {
  stroke: #E4572E;
}
.hello__icon svg {
  position: relative;
  top: 6px;
}
.hello__brief {
  margin-top: 16px;
  max-width: 70%;
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.social {
  padding: 32px 0;
  display: flex;
  gap: 30px;
}
.social__item:hover .social__icon {
  fill: #E4572E;
  transition: fill 0.2s linear;
}

.info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.info__text {
  width: 70%;
  line-height: 1.5;
  font-size: 1rem;
}

.experience__heading {
  margin: 32px 0;
}
.experience__item {
  margin: 32px 0;
}
.experience__item:not(.experience__item:last-child) {
  border-bottom: 1px solid #d8dbe4;
  padding-bottom: 32px;
}
.experience__company {
  font-weight: 600;
  font-size: 1rem;
}
.experience__role {
  margin: 8px 0 4px;
  font-size: 14px;
}
.experience__duration {
  margin: 0 0 12px;
  color: #b3b6c0;
  font-size: 14px;
  font-weight: 600;
}

.responsibilities__title {
  margin: 16px 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #b3b6c0;
}
.responsibilities__item {
  margin: 8px 0;
}

.contact {
  margin: 48px 0 96px;
  padding: 32px;
  border: 1px solid #d8dbe4;
  border-radius: 16px;
  background: #ffffff;
}
.contact__list {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}
.contact__icon {
  width: 24px;
  height: 24px;
}
.contact__item:hover .contact__icon:not(.contact__icon--filled) {
  transition: all 0.2s linear;
  stroke: #E4572E;
}
.contact__item:hover .contact__icon--filled {
  transition: all 0.2s linear;
  fill: #E4572E;
}
.contact__email {
  display: inline-block;
  margin-top: 24px;
  font-weight: 600;
}
.contact__email:hover {
  color: #E4572E;
  transition: color 0.2s linear;
}
.contact__copy {
  margin-left: 16px;
  position: relative;
  top: 5px;
}
.contact__copy svg {
  width: 18px;
  height: 18px;
}
.contact__copy::before {
  position: absolute;
  top: -4px;
  left: -12px;
  display: block;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #e9ebf0;
}
.contact__copy:hover {
  cursor: pointer;
}
.contact__copy:hover svg {
  stroke: #E4572E;
  transition: stroke 0.2s linear;
}

.dark {
  background-color: #1b1b1d;
  color: #ffffff;
}
.dark .navigation__item--active {
  color: #626268;
}
.dark .header {
  background: #1b1b1d;
}
.dark .theme-toggle {
  background: #323235;
}
.dark .experience__item {
  border-color: #323235 !important;
}
.dark .experience__duration {
  color: #626268;
}
.dark .contact {
  background: #323235;
  border-color: #626268;
}
.dark .contact__copy::before {
  background-color: #626268;
}

/*# sourceMappingURL=style.css.map */
