* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  list-style-type: none;
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-weight: 300;
}

.light {
  background-color: #f4f4f5;
  color: #02050e;
}
.light .theme-toggle {
  background-color: #e6e8ef;
}
.light .theme-toggle__icon {
  fill: #02050e;
}
.light .hello__link::after {
  background-color: #02050e;
}

.external-link {
  display: flex;
  gap: 8px;
  align-items: center;
  background: none;
  padding: 8px 12px;
  border: 1px solid #d8dbe4;
  border-radius: 4px;
}
.external-link:hover {
  color: #E4572E !important;
  transition: all 0.2s linear;
}

.grid {
  max-width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f5;
  opacity: 0.98;
}

.sectionTitle {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #b3b6c0;
  letter-spacing: 0.2rem;
}

.navigation {
  display: flex;
  list-style-type: none;
  gap: 32px;
}
.navigation__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.navigation__item:not(.navigation__item--active) {
  cursor: pointer;
}
.navigation__item:hover:not(.navigation__item--active) {
  color: #E4572E;
  transition: color 0.2s linear;
}
.navigation__item--active {
  color: #b3b6c0;
}
.navigation__icon {
  width: 18px;
  height: 18px;
}

.theme-toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 6px;
  z-index: 1;
}
.theme-toggle__icon {
  width: 20px;
  fill: #ffffff;
}
.theme-toggle:hover .theme-toggle__icon {
  fill: #E4572E;
  transition: all 0.2s linear;
}

main {
  padding-top: 48px;
}

.title {
  font-size: 32px;
}
.title__heading {
  font-size: inherit;
}
.title__brief {
  margin-top: 16px;
  max-width: 70%;
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.social {
  padding: 32px 0;
  display: flex;
  gap: 30px;
}
.social__item:hover .social__icon {
  fill: #E4572E;
  transition: fill 0.2s linear;
}

.info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.info__text {
  width: 70%;
  line-height: 1.5;
  font-size: 1rem;
}

.projects__heading {
  margin: 32px 0;
}
.projects__item {
  position: relative;
  margin: 32px 0;
}
.projects__item:not(.projects__item:last-child) {
  border-bottom: 1px solid #d8dbe4;
  padding-bottom: 32px;
}
.projects__item--construction::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: #f4f4f5;
  opacity: 0.97;
  content: "Under construction";
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__company {
  font-weight: 600;
  font-size: 1rem;
}
.projects__role {
  margin: 8px 0 4px;
  font-size: 14px;
}
.projects__duration {
  margin: 12px 0;
  color: #b3b6c0;
  font-size: 14px;
  font-weight: 600;
}
.projects__description {
  margin-top: 16px;
  max-width: 80%;
  line-height: 1.5;
}
.projects__linkRow {
  display: flex;
  gap: 16px;
}
.projects__link {
  margin-top: 24px;
}

.responsibilities__title {
  margin: 16px 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #b3b6c0;
}
.responsibilities__item {
  margin: 8px 0;
}

.contact {
  margin: 48px 0 96px;
  padding: 32px;
  border: 1px solid #d8dbe4;
  border-radius: 16px;
  background: #ffffff;
}
.contact__list {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}
.contact__icon {
  width: 24px;
  height: 24px;
}
.contact__item:hover .contact__icon:not(.contact__icon--filled) {
  transition: all 0.2s linear;
  stroke: #E4572E;
}
.contact__item:hover .contact__icon--filled {
  transition: all 0.2s linear;
  fill: #E4572E;
}

.email {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  font-weight: 600;
}
.email__copy {
  display: none;
  position: relative;
  top: 5px;
}
.email__copy svg {
  width: 18px;
  height: 18px;
}
.email__copy::before {
  position: absolute;
  top: -4px;
  left: -12px;
  display: block;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #e9ebf0;
}
.email__copy:hover {
  cursor: pointer;
}
.email__copy:hover svg {
  stroke: #E4572E;
  transition: stroke 0.2s linear;
}
.email:hover {
  color: #E4572E;
  transition: color 0.2s linear;
}

.dark {
  background-color: #1b1b1d;
  color: #d3d3d8;
}
.dark h1, .dark h3 {
  color: #ffffff;
}
.dark .external-link {
  color: #ffffff;
  border-color: #323235;
}
.dark .external-link:hover {
  color: inherit;
}
.dark .navigation__item--active {
  color: #626268;
}
.dark .header {
  background: #1b1b1d;
}
.dark .theme-toggle {
  background: #323235;
}
.dark .projects__item {
  border-color: #323235 !important;
}
.dark .projects__duration {
  color: #626268;
}
.dark .projects__item--construction::after {
  background: #1b1b1d;
}
.dark .contact {
  background: #323235;
  border-color: #626268;
  color: #ffffff;
}
.dark .email__copy::before {
  background-color: #626268;
}

@media (max-width: 768px) {
  .title__brief {
    max-width: 100%;
  }
  .projects__description {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .external-link {
    font-size: 12px;
  }
  .navigation {
    gap: 16px;
  }
  .navigation__item {
    font-size: 12px;
  }
  .contact {
    margin-top: 24px;
    padding: 24px 16px;
    text-align: center;
  }
  .contact__list {
    justify-content: center;
  }
  .email {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
